@media screen and (max-width:767px) {
    .video {
        width: 100%;
    }

    .header {
        /* display: none; */
        backdrop-filter: none !important;
        background-color: black !important;
    }


    .fs-18 {
        max-width: 100%;
        font-size: 16px;
    }
    .fs-32{
        font-size: 28px;
    }
    .fs-24{
        font-size: 20px;
    }
    .fs-20{
        font-size: 16px;
    }
.input{
    width: 80%;
}
.btn-orange{
    padding: 10px 28px !important;
}
.mainpart{
    padding: 20px;
}
.phone-display{
    flex-direction: column !important;
    
}

.credit-check img{
    height: 80px !important;
    max-width: 100% !important;
}
.opt_img{
    height: 60px;
    width: 60px;
}
.heading-margin{
margin-bottom: 5px !important;
}
.dailog{
    height: fit-content !important;
    width: 90% !important;
}
.opt-desc{
    font-size: 16px;
    width: 70%;
    margin: 0px auto;
}
.discover_opt{
    margin-bottom: 10px;
}
.opt_heading, .opt_desc{
    margin: 5px 0px;
}
.pc_img{
    width: 100%;
}
.discover{
    margin-bottom: 30px;
}
.trade{
    flex-direction: column-reverse;
    justify-content: center;
    margin-bottom: 20px;

}
.trade-item{
    margin: 10px 0px !important;
    /* align-items: start !important; */
}

.listtype{
    height: 20px;
    width: 24px;
}
.trade-img{
    height: 90%;
    width: 90%;
}
.hunting{
    border-radius: 20px;
    background-size: 100% 100%;
}
.hunting-main{
    flex-direction: column;
}
.hunting-img{
    height: 300px;
    width: 300px;
}
.circle{
    height: 35px;
    width: 40px;
}

.circle2{
    height: 14px;
    width: 14px;
}
.cborder::after{
    height: 200px;
}
.stp{
    padding-bottom: 20px;
}

.steps{
    width: 100%;
}
.invest-img{
   display: none;
}
.investing {
    padding: 30px !important;
}
.investing .heading{
    white-space:nowrap;
}
.caption{
    width: 100% !important;
}
.signup-form{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    padding: 30px ;
}
.part-1{
    flex-direction: column;
    /* flex-grow: 1 auto auto; */
    gap: 20px;
}
.part-1-1{
    width: 100% !important;
}
.licencing{
    height: 250px;
}
.social-icon{
    margin-top: 20px;
}
.soc-ico{
    height: 25px;
    width: 28px;
}
.logo-img{
    width: 50% !important;
    margin-bottom: 10px;
}
.booster-2{
    padding: 10px 20px ;
}
.input-container{
    width: 100%;
    justify-content: center;
}
.input-container i{
    left: 15%;
}
.card-1, .payment{
    width: 100% !important;
}

.partner{
    flex-direction: column;
}
.partners-screen{
    background-size: 100vw 100vh;
}
.partners-screen p{
    margin-top: 20px !important;
}
}